/* SKILLS */

.skills {
    background: #1C3553;
    padding: 20px 15px 75px 15px;
    color: #fff;
  }
  
  .skills-text {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  
  .skills-title {
    display: block;
    margin-bottom: 2rem;
  }
  
  .skills-title.underline:before {
    width: 40px;
  }
  
  .skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10
  }
  
  .skill-name:after {
    background-color: #fff;
    content: '';
    display: block;
    height:1rem;
    position: relative;
    top: 3px;
    /*top: 1rem;*/
    width: 100%;
  }
  
  .skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    transition: 3s linear;
    width: 0;
  }
  
  /* SKILL BAR COLORS */
  
  .skill-percent-html {
    background-color: #ffc107;
  }
  .skill-percent-css {
    background-color: #ffc107;
  }
  .skill-percent-jquery {
    background-color: #ffc107;
  }
  .skill-percent-scss {
    background-color: #ffc107;
  }
  .skill-percent-javascript {
    background-color: #ffc107;
  }
  .skill-percent-wordpress {
    background-color: #ffc107;
  }
  .skill-percent-php {
    background-color: #ffc107;
  }
  .skill-percent-git {
    background-color: #ffc107;
  }
  
  /* Heading Underline */
  
  .underline {
    display: inline-block;
    position: relative;
  }
  
  .underline:before {
    background-color: #fff;
    bottom: -15px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 110%;
  }

  #loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center; /* Ito ay para i-center horizontally ang mga elemento */
  }
  
    .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  